#w1{
  height: 230px;
}
#w2{
  height: 200px;
  width: 200px;
}

#w5{
  height: 210px;
}
#w8{
  height: 100px;
}

#abt{
  background-color: #ffe6f2;
}
#contact{
  background-color: #ffe6f2;
}
#home{
  background-color: #ffe6f2;
}